@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
  --app-logo: rgb(43, 16, 87);
  --nav-link: white;
  --nav-link-active: #cd2020;
  }

  .app-logo {
    display: flex;
    align-items: center;
    color: var(--app-logo);
    padding: 0 24px;
    
    span {
      color: #fff;
      display: inline-block;
      line-height: 24px;
      font-size: 16px;
      margin-left: 16px;
    }
  }
 
.white{
    color: white;
}
.app-container {
    display: flex;
    max-width: 1680px;
    margin: 0 auto;
    background-color: var(--app-bg-dark);
    color: var(--main-color);
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.app-left {
  flex-basis: 200px;
  background-color: #c32157;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 24px 0;
  transition: all .4s ease-in;
}

.app-right {
  flex-grow: 1;
  flex-basis: 320px;
  padding: 40px;
  width: 320px;
  background-color: white;
  height: 100%; /* Use 100% height */
  overflow-y: auto; /* Enable vertical scrolling */
  box-sizing: border-box; /* Include padding in the width */
}

  .nav-list {
    margin-top: 20px;
    padding: 0px;
  }
  
  .nav-list-item {
    margin-bottom: 12px;
  }

  .active.nav-list-item{
  background-color: #a1092f;
  }

  .nav-list-item:hover a {
    color: rgb(43, 16, 87);
  }
  
  .nav-list-link {
    font-weight: 300;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 24px;
    padding: 10px 24px;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    
    svg {
      margin-right: 12px;
    }
  }
  .btn {
    border-radius: 4px;
    font-weight: 200;
    text-transform: uppercase;
    transition: all 200ms linear;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: #c32157;
    color: #fff;
    box-shadow: 0 8px 24px 0 rgba(18, 248, 173, .2);
    width: fit-content;
    font-size: small;
}

.btn:active,
.btn:focus {
    background-color: #fff;
    color: #EA2C62;
    box-shadow: 0 8px 24px 0 rgba(255, 255, 255, .2)
}

.btn:hover {
    background-color: #fff;
    color: #EA2C62;
    box-shadow: 0 8px 24px 0 rgba(255, 255, 255, .2)
}

li{
  list-style: none;
}

ul{
  padding-left: 1.5rem;
}

.job-item {
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
  transition: .5s;
}

.job-item:hover {
  border-color: rgba(0, 0, 0, .08);
  box-shadow: none;
}