:root {
    --app-bg-dark: white;
    --app-bg-before: linear-gradient(180deg, rgba(1,8,31,0) 0%, rgba(1,8,31,1) 100%);
    --app-bg-before-2: linear-gradient(0deg, rgba(1,8,31,0) 0%, rgba(1,8,31,1) 100%);
    --app-bg-light: #2a2b38;
    --app-logo: #3d7eff;
    --nav-link: #5e6a81;
    --nav-link-active: #fff;
    --list-item-hover: #0c1635;
    --main-color: black;
    --secondary-color: #5e6a81;
    --color-light: white;
    --warning-bg: #ffe5e5;
    --warning-icon: #ff8181;
    --applicant-bg: #e3fff1;
    --applicant-icon: #61e1a1;
    --close-bg: #fff8e5;
    --close-icon: #fdbc64;
    --draft-bg:  #fed8b3;
    --draft-icon:  #e9780e;
  }
 
.white{
    color: white;
}
.app-container {
    display: flex;
    max-width: 1680px;
    margin: 0 auto;
    background-color: var(--app-bg-dark);
    color: var(--main-color);
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.app-left {
  flex-basis: 240px;
  padding: 24px 0;
  background-color: #c32157;
  transition: all 0.4s ease-in;
  height: 100%;
  width: 16vw;
  position: fixed; /* Fix the component */
  left: 0; /* Position from the left edge */
  top: 0; /* Position from the top edge */
  bottom: 0; /* Take the full height */
}

.app-right {
  flex-grow: 1;
  padding: 40px;
  background-color: white;
  height: 100%; /* Use 100% height */
  overflow-y: auto; /* Enable vertical scrolling */
  margin-left: 240px; /* Account for the width of app-left */
  box-sizing: border-box; /* Include padding in the width */
}

/* ... the rest of your CSS ... */


  .close-menu {
    position: absolute;
    top: 16px;
    right: 16px;
    display: none;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    padding: 0;
    color: var(--main-color);
    cursor: pointer;
  }

  .nav-list {
    margin-top: 40px;
  }
  
  .nav-list-item {
    margin-bottom: 12px;
    
    &:not(.active):hover {
      background-color: var(--applicant-bg);
    }
    
    &.active {
      .nav-list-link {
        color: var(--nav-link-active);
        
        &:after {
          height: 100%;
          opacity: 1;
        }
      }
      
      svg {
        stroke: var(--app-logo);
      }
    }
  }
  
  .nav-list-link {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 0px;
    color: var(--nav-link);
    display: flex;
    align-items: center;
    position: relative;
    
    svg {
      margin-right: 12px;
    }
    
    &:after {
      content: '';
      height: 100%;
      width: 2px;
      background-color: var(--app-logo);
      right: 0;
      top: 0;
      position: absolute;
      border-radius: 2px;
      opacity: 0;
      height: 0;
    }
  }
  .btn {
    border-radius: 4px;
    font-weight: 200;
    text-transform: uppercase;
    transition: all 200ms linear;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: #c32157;
    color: #fff;
    box-shadow: 0 8px 24px 0 rgba(18, 248, 173, .2);
    width: fit-content;
    font-size: small;
}

.btn:active,
.btn:focus {
    background-color: #fff;
    color: #EA2C62;
    box-shadow: 0 8px 24px 0 rgba(255, 255, 255, .2)
}

.btn:hover {
    background-color: #fff;
    color: #EA2C62;
    box-shadow: 0 8px 24px 0 rgba(255, 255, 255, .2)
}

li{
  list-style: none;
}

ul{
  padding-left: 1.5rem;
}

.job-item {
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
  transition: .5s;
}

.job-item:hover {
  border-color: rgba(0, 0, 0, .08);
  box-shadow: none;
}