<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interview Room</title>
  <link href="static/img/favicon.ico" rel="icon">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap"
    rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">


  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link href="{{ url_for('static', filename='css/interview.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>

  <app-navbar></app-navbar>
  <div class="camera-container">
    <form id="camera-form">
      <video id="user-camera" class="user-camera" name="user-camera" autoplay playsinline></video>
      <input type="hidden" id="frame-data" name="frame-data">
    </form>
    <div class="controls">
      <button id="toggle-camera" class="button" name="toggle-camera">Click here to verify yourself</button>
    </div>
  </div>
  <p id="outputText"></p>
  <div class="interview-questions" id="interview-questions">
    <h2>Interview Questions</h2>
    <p>Answer the following questions through voice and click on next for next question.</p>

    <ul id="questions-list">
      <!-- Questions will be added here using JavaScript -->
    </ul>
  </div>
  <div class="controls" style="display: flex; justify-content: center;">
    <button id="toggle-mic" class="button" style="margin-right: 10px;">CLick this to Speak</button>
    <button id="next-button" class="button" style="display: none;">Next</button>
    <button id="end-button" class="button" style="display: none;">End</button>
  </div>

  <app-footer></app-footer>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>
  <script>
    var interviewQuestions = []
    fetch('/get_data', {
          method: 'GET',
        }).then(response => response.json())
      .then(data => {
        interviewQuestions = data;
        console.log(javascriptList);
      })
      .catch(error => console.error('Error fetching data:', error));
  </script>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='js/component.js') }}"></script>
  <script src="{{ url_for('static', filename='js/interview_script.js') }}"></script>

</body>

</html>